.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* .carousel {
  margin: 50px 350px;
}


@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
  display: flex;
} */

/* medium and up screens */

/* @media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active, .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
} */

/* .carousel-inner .carousel-item-end, .carousel-inner .carousel-item-start {
  transform: translateX(0);
} */

.carousel {
  padding: 10px 10px 0;
  border-radius: 4px;
  width: 375px;
  margin: auto;
}
.carousel__main {
  border-radius: 4px;
  height: 110px;
}

.demo-item {
  height: 110px;
}
